#card-title {
      font-family: "Raleway Thin", sans-serif;
      letter-spacing: 4px;
      padding-bottom: 2%;
      padding-top: 2%;
      text-align: center;
    }
.ppdb-yes {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 10%;
  padding-top: 5%;
  text-align: center;
  color: green;

}
.ppdb-no {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 10%;
  padding-top: 5%;
  text-align: center;
  color: red;
}
.ppdb-missing {
  font-family: "Raleway Thin", sans-serif;
  padding-bottom: 10%;
  padding-top: 5%;
  text-align: center;
  color: red;
}
.ppdb-wait {
  font-family: "Raleway Thin", sans-serif;
  padding-bottom: 10%;
  padding-top: 5%;
  text-align: center;
  color: blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  background-color: #83DCDA;
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #3B6FE7;
}

li.dropdown {
  display: inline-block;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10% ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}



.active {
  background-color: #00C9FF;
}
#active {
  background-color: #00C9FF;
}
