* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: auto;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}



/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 100%;
}

/* Fake image */
.fakeimg {
  background-color: #EFFBF5;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  text-align: center;
  background: #ddd;
  height: 50%;
  width: 100%;
  margin-top: 2%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
.cek {
  padding: 0 5%;
  padding-top: 5%;
  padding-bottom: 10%;
}
.cek2 {
  padding-bottom: 5%;

}
